html,
body {
    padding: 0;
    height: 100%;
}
 
body {
    background-image: linear-gradient(150deg, #8edeec 0, #92b2f7 16.67%, #702af1 33.33%, hsl(204, 94%, 87%) 50%, #97b9e6 66.67%, hsl(207, 65%, 77%) 83.33%, hsl(186, 21%, 34%) 100%);
    display: flex;/*Comportamento do elemento na pagina*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
/* Estilização do container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
 
.form {
    background-image: linear-gradient(150deg, #3693a3 0, #93bef0 16.67%, #bfceee 33.33%, #3e667c 50%, #a9d2e2 66.67%, #96bddd 83.33%, #537a8a 100%);
    background-color: #3dcefa;
    padding: 30px;
    padding-top: 0;
    border-radius: 20px;
    color: rgb(68, 83, 116);
    box-shadow: 0 0 10px black;
}
 
h3 {
    text-align: center;
}
